nav {
	margin: 80px auto 0;
	position: relative;
	width: 910px;
	height: 25px;
	background-color: #384654;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 25px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
nav a:nth-child(1) {
	width: 80px;
}
nav a:nth-child(2) {
	width: 120px;
}
nav a:nth-child(3) {
	width: 120px;
}
nav a:nth-child(4) {
	width: 80px;
}
nav a:nth-child(5) {
	width: 110px;
}
nav a:nth-child(6) {
	width: 150px;
}
nav a:nth-child(7) {
	width: 160px;
}
nav a:nth-child(8) {
	width: 80px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 80px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 120px;
	left: 80px;
	background-color: #34badb;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 120px;
	left: 200px;
	background-color: #595bb6;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 80px;
	left: 320px;
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 110px;
	left: 400px;
	background-color: #e74c3c;
}
nav .start-contact, a:nth-child(6):hover~.animation {
	width: 150px;
	left: 510px;
	background-color: #e67e22;
}
nav .start-contact, a:nth-child(7):hover~.animation {
	width: 160px;
	left: 660px;
	background-color: #e3e622;
}
nav .start-contact, a:nth-child(8):hover~.animation {
	width: 80px;
	left: 830px;
	background-color: #22e62c;;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: #252e36;
}

.image{
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
	height: 200px;
	width: 200px;
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.image-container{
	left: 50%;
    transform: translateX(-50%);
    position: relative;
	height: 250px;
	width: 250px;
}

.small-image{
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
	height: 100px;
	width: 100px;
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.small-image-container{
	height: 150px;
	width: 150px;    
	border-radius: 20px;
    background: rgb(229, 233, 241);
}

.object{
	background: rgb(229, 233, 241);
    border-radius: 20px;
    height: 370px;
    width: 225px;
}

.button{
	left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-top: 10px;
	width: 44px;
    padding: 0px;
    background-color: rgb(0, 40, 120);
    font-size: 1rem;
    min-height: 44px;
    height: 44px;
    border-radius: 44px;
    border: 2px solid rgb(0, 40, 120);
    transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-width 0.2s ease 0s, border-color 0.2s ease 0s;
    line-height: 1;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.button:hover{
    background-color: rgb(229, 233, 241);
    border-color: rgb(229, 233, 241);
    color: rgb(0, 40, 120);
}

.list-object{
	left: 50%;
    transform: translateX(-52%);
    position: relative;
	width: 100%;
    max-width: 90vw;
    border-radius: 20px;
    background: rgb(229, 233, 241);
}

.grid-container {
	background-color: transparent !important;
	display: grid;
	grid-template-columns: repeat(5,minmax(0,1fr));
	grid-gap: 1rem;
    gap: 1rem;
	padding: 10px;
  } 

  .grid-form-container{
	background-color: transparent !important;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-gap: 1rem;
    gap: 1rem;
    padding: 10px;
  }

  .cart-container{
	display: flex; background: rgb(229, 233, 241); border-radius: 20px; margin: 20px; height:200px
  }

  .cart-image{
	max-height: 200px; max-width: 100px;padding:20px; object-fit: contain;
  }

  .normalButton{
	color: rgb(0, 40, 120);
	background-color: white;
	border-radius: 44px;
	height: 50px;
	width:110px;
  }


label{
    margin-bottom:15px;
    position:relative;
}

input[type='text'], input[type='email'], input[type='date'], input[type='number']{
    border:none;
	border-radius: 15px;
	height: 15px;
    margin-top:20px;
    padding:10px 10px;
    outline:none;
    width:90%;
}

input[type='text']:invalid, input[type='email']:invalid, input[type='date']:invalid, input[type='number']:invalid {
	box-shadow: 2px 2px 2px 2px red !important;
  }
  input[type='text']:-moz-ui-invalid, input[type='email']:-moz-ui-invalid, input[type='date']:-moz-ui-invalid, input[type='number']:-moz-ui-invalid {
	box-shadow: 2px 2px 2px 2px red !important;
  }
  input[type='text']:-moz-submit-invalid, input[type='email']:-moz-submit-invalid, input[type='date']:-moz-submit-invalid, input[type='number']:-moz-submit-invalid {
	box-shadow: 2px 2px 2px 2px red !important;
  }

  form:invalid>#pay {
	pointer-events: none;
  }

input::placeholder{
    opacity:0;
}
span{
    position:absolute;
    top:0;
    left:10px;
    transform:translateY(30px);
    font-size:0.825em;
    transition-duration:300ms;
}

label:focus-within > span,
input:not(:placeholder-shown) + span{
    color:white;
    transform:translateY(0px);
}

input[type='radio']:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #252e36;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid #d1d3d1;
}

input[type='radio']:checked:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: rgb(0, 40, 120);
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid rgb(229, 233, 241);
}

.mainContainer{
	position: absolute; 
	left: 50%;
	transform: translateX(-50%);
	max-width: 1220px;
	width:100vw;
	margin-top: 20px;
}

.messageBox{
	margin:10px 0px;
	text-align-last: center;
}

  @media (max-width: 1170px){
	  .grid-container {
		  grid-template-columns: repeat(4,minmax(0,1fr));
		} 
  }

	@media (max-width: 940px){
		.grid-container {
			grid-template-columns: repeat(3,minmax(0,1fr));
		  } 
	}